<h1 class="title">todays recommendations</h1>

{{#each users}}
<section class='accounts'>
  <div>
    <img class='accountfoto' src="{{image}}">
    <h1>{{firstName}} {{lastName}}</h1>
    <p>{{age}} years</p>
    <p>{{location}} away</p>


    <button class='toggle'>Meer Info</button>
  </div>

  <div class="info">
    <p>{{meerInformatie}}</p>
  </div>

  <div>
    <form action="/likeuser" method="POST">
      <button class="likebutton" type="submit" name="userid" value={{_id}}> Save
      </button>
    </form>
  </div>

</section>

{{/each}}

{{>navigation}}

{{!-- <img id="likeknop" src="images/likeknop.png"> --}}