<h1>todays recommendations</h1>
{{#each users}}
<section class='accounts'>
  <div>
    <img class='accounts' src="/images/girl.jpg" alt="">
    <h1>{{firstName}} {{lastName}}</h1>
    <p>{{age}} years</p>
    <p>{{location}} away</p>


    <button class='toggle'>meer info</button>
  </div>

  <div class="info">
    <p>{{meerInformatie}}</p>
  </div>

  <div>
    <a href=''><img id="skipknop" src="images/skipknop.png"></a>
    <a href=""><img id="likeknop" src="images/likeknop.png"></a>
    <form action="/likeuser" method="POST">
      <button type="submit" name="userid" value={{_id}}>Like</button>
    </form>
  </div>

</section>

{{/each}}