<h1>Saved Profiles</h1>

{{#each users}}
<div>
    <section class='profiel'>
        <img src="" alt="">
        <h1>{{firstName}}</h1>
        <h2>{{lastName}}</h2>
        <p>{{age}} years</p>
        <p>{{location}} away</p>
        <a href="/chat"><button class=profiel>Start Chatting</button></a>
        <form action="/savedprofiles" method="POST">
            <button class="skipButton" type="submit" name="userid2" value={{_id}}> <img id="likeknop"
                    src="images/skipknop.png" </button>
        </form>
    </section>
</div>


{{/each}}

{{>navigation}}